@import url('reset.css');
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300);
/* General Codrops Demo Style */

/* iphone */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	img { max-width: 100%; }
}

/* ipad */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
	img { max-width: 100%; }
}

@media only screen and (max-width: 640px) {

   html { font-size: 2em; }

}
html{
     font-size: 2em;
	background:#000;
	color:#fff;
                text-shadow: 0px 0px 4px rgb(255, 255, 255);
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 2px;
}
a{
     font-size: 1.3em;
	color:#FFB6C1;
           text-shadow: 0px 0px 4px rgb(236,149,192);
    color: #EC95C0;
    text-decoration: none;
      -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
	text-decoration: none;
}
a:hover{
            text-shadow: 0px 0px 4px rgb(255, 255, 255);
	color:#fff;
		text-decoration: none;
}

p.sub{
	padding:25px 10px 10px 10px;
	text-align:left;
	color:#aaa;
}
.clr{
	clear:both;
}

.content{
	margin:0px 25px 30px 25px;

}


@media screen and (max-width: 640px) {
	.header a{
		display:block;
		text-align:center;
		text-shadow:none;
	}
	.header span.right_ab{
		float:none;
	}
}