@media only screen and (max-width: 640px) {
    html {
        font-size: 2em;
    }
}
#bg img {
    background-size:100%;
    position: absolute;
    display: block;
    z-index: -1;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
width: 100%;
    height: 100%;
    filter: blur(10px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -ms-filter: blur(10px);
    -o-filter: blur(10px);
    
    opacity: 2;
}
html {
       font-size: 1.5em;
    background-color: #000;
    background: url('http://jawe.pw/data/media/images/summer/127.gif') no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
    text-shadow: 0px 0px 10px rgb(0, 0, 0);
    
}
a#audiocontrols {
   font-size: 1em;
       text-shadow: 0px 0px 10px rgb(236,149,192);
    color: #EC95C0;
    text-decoration: none;
      -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}

a#gallery {
    font-size: 2em;
        text-shadow: 0px 0px 10px rgb(236,149,192);
    color: #EC95C0;
    text-decoration: none;
      -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  /* ...and now for the proper property */
  transition:.5s;
}
a#gallery:hover {
    color: #fff;
        text-shadow: 0px 0px 10px rgb(0, 0, 0);
    text-decoration: none;
}
a#audiocontrols:hover {
    color: #fff;
        text-shadow: 0px 0px 10px rgb(0, 0, 0);
    text-decoration: none;
}
body {
    background: #000;
    color: #fff;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    letter-spacing: 4px;
}
#content {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 2em;
    margin-top: -1em;
    width: 40%;
    margin-left: -20%;
    text-align: center;
}
#works,
#noworks {
    position: absolute;
    bottom: 1em;
    margin: 0;
}
#noworks {
    right: 1em
}
#works {
    left: 1em
}

video#bgvid { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url('doesntexist.png') no-repeat;
    background-size: cover; 
}