@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v6/zhcz-_WihjSQC0oHJ9TCYPk_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

.big {

  	font-family: 'Montserrat', sans-serif;
  	font-size: 35px;
  	color: #000;
	  text-align: center;
  	word-wrap: break-word;

}

.medium {

  	font-family: 'Montserrat', sans-serif;
  	font-size: 25px;
  	color: #000;
	text-align: center;
  	word-wrap: break-word;

}


.small {

  	font-family: 'Montserrat', sans-serif;
  	font-size: 15px;
  	color: #000;
	text-align: center;
  	word-wrap: break-word;

}

.grayscale {
  filter: gray; /* IE6-9 */
  filter: grayscale(1); /* Firefox 35+ */
  -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

body {
    font-family: 'Montserrat', sans-serif;
	text-align: center;
  	word-wrap: break-word;
  	background: #fff;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


